* {
  margin: 0;
  padding: 0;
}

html {
  padding-bottom: 20px;
  background-color: black;
}

#pressed {
  border-color: rgb(0,255,0) rgb(0,255,0) rgb(0,255,0) rgb(0,255,0);
}

#underline {
  color: rgb(0,255,0);
}

#name {
  font-size: 18px;
  /*margin: 3px 4px 5px 4px;*/
  margin: 0px 0px 0px 0px;
  line-height: 18px;
  padding-left: 5px;
  padding-right: 5px;

}

.nav-work{
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  overflow: auto;
  top: 9px;
  buttom: 0;
  right: 1%;
  position: fixed;
  display: inline-block;
  width: 170px;
}

.nav-work a{
  text-decoration: none;
  color: white;
}

.nav-work a:link, a:visited {
  text-decoration: none;
  color: white;
}

.nav-work a:hover {
  text-decoration: none;
  color: rgb(255,255,0);
}

.nav-work p {
  /*
  margin: 3px 0 5px 0;
  */
  margin: 0px 0px 0px 0px;
}

.nav {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: yellow;
  overflow: auto;
  top: 8px;
  buttom: 0;
  left: 5px;
  position: fixed;
  float: left;
  clear: both;
}

.nav a{
  text-decoration: none;
  color: white;
}

.nav a:link, a:visited {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  text-decoration: none;
  color: rgb(255,255,0);
}

.nav p {
  /*
  margin: 3px 0 5px 0;
  */
  margin: 0px 0px 0px 0px;
  text-indent: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.content {
  font-size: 16px;
  color: white;
  margin: 0 0 0 0px;
  padding-top: 8px;
  padding-left: 145px;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

#content-work{
  font-size: 14px;
  color: white;
  margin: 0 0 0 0px;
  padding-top: 9px;
  padding-left: 5.8%;
  max-width: 80%;
  width: 82%;
  float: left;
}

.hand {
  cursor: pointer;
}

.work-box{
  padding-left: 5px;
  padding-right: 5px;
}

.frame0 {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(210,210,210) rgb(240,240,240) rgb(240,240,240) rgb(210,210,210);
  margin-top: 1.5px;
  margin-bottom: 1.5px;
  margin-left: 0px;
  margin-right: 0px;
}

.frame {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(210,210,210) rgb(240,240,240) rgb(240,240,240) rgb(210,210,210);
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 12px 10px;
}

.frame table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
}

.frame img {
  max-width: 100%;
  box-sizing: border-box;
}

.frame2 {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(210,210,210) rgb(240,240,240) rgb(240,240,240) rgb(210,210,210);
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 12px 10px;
}

.frame2 table {
  width: 100%;
  overflow: auto;
  word-break: keep-all;
}

.frame2 img {
  max-width: 100%;
}

.frame-text {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(210,210,210) rgb(240,240,240) rgb(240,240,240) rgb(210,210,210);
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 3px 5px;
}

.frame-text table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
}

.box{
  padding: 12px 12px 12px 12px
}

#table-row {
  display: table-row;
}

#table-cell {
  display: table-cell;
  vertical-align:middle;
  text-align:center;
}

@media screen and (min-width: 768px){
            .rwd-break { display: none; }
}

div {
  display: inline-block;
}

p {
  margin: 0 0 0 0;
  color: white;
}
